<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2> educación 1</h2> - <h4>(años)</h4></li>
            <p>lorem ipsum dolor sit amet, consectetur adipl lorem ipsum dolor lorem ipsum dolor </p>
        </ul>
        <ul>
            <li><h2> educación 2</h2> - <h4>(años)</h4></li>
            <p>lorem ipsum dolor sit amet, consectetur adipl lorem ipsum dolor lorem ipsum dolor </p>
        </ul>
        <ul>
            <li><h2> educación 3</h2> - <h4>(años)</h4></li>
            <p>lorem ipsum dolor sit amet, consectetur adipl lorem ipsum dolor lorem ipsum dolor </p>
        </ul>

    </div>

</div>
